
@keyframes ldio-c6xcd9qrbv {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}
.ldio-c6xcd9qrbv div { box-sizing: border-box!important }
.ldio-c6xcd9qrbv > div {
  position: absolute;
  width: 144px;
  height: 144px;
  top: 28px;
  left: 28px;
  border-radius: 50%;
  border: 16px solid #000;
  border-color: #0a0a0a transparent #0a0a0a transparent;
  animation: ldio-c6xcd9qrbv 1s linear infinite;
}

.ldio-c6xcd9qrbv > div:nth-child(2), .ldio-c6xcd9qrbv > div:nth-child(4) {
  width: 108px;
  height: 108px;
  top: 46px;
  left: 46px;
  animation: ldio-c6xcd9qrbv 1s linear infinite reverse;
}
.ldio-c6xcd9qrbv > div:nth-child(2) {
  border-color: transparent #28292f transparent #28292f
}
.ldio-c6xcd9qrbv > div:nth-child(3) { border-color: transparent }
.ldio-c6xcd9qrbv > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-c6xcd9qrbv > div:nth-child(3) div:before, .ldio-c6xcd9qrbv > div:nth-child(3) div:after { 
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 48px;
  background: #0a0a0a;
  border-radius: 50%;
  box-shadow: 0 128px 0 0 #0a0a0a;
}
.ldio-c6xcd9qrbv > div:nth-child(3) div:after {
  left: -16px;
  top: 48px;
  box-shadow: 128px 0 0 0 #0a0a0a;
}

.ldio-c6xcd9qrbv > div:nth-child(4) { border-color: transparent; }
.ldio-c6xcd9qrbv > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-c6xcd9qrbv > div:nth-child(4) div:before, .ldio-c6xcd9qrbv > div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 30px;
  background: #28292f;
  border-radius: 50%;
  box-shadow: 0 92px 0 0 #28292f;
}
.ldio-c6xcd9qrbv > div:nth-child(4) div:after {
  left: -16px;
  top: 30px;
  box-shadow: 92px 0 0 0 #28292f;
}
.loadingio-spinner-double-ring-g7nwva8x3su {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.ldio-c6xcd9qrbv {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-c6xcd9qrbv div { box-sizing: content-box; }
/* generated by https://loading.io/ */
